NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

DATABASE_URL="postgres://postgres.zzzzzzzzzzzzzzzz:zzzzzzzzzzzzzzzzzzz@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

STRIPE_API_KEY=
NEXT_PUBLIC_APP_URL="http://localhost:3000"
STRIPE_WEBHOOK_SECRET=

ADMIN_ID=